@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
    background-color: black;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
}
.başlık a{
    text-decoration: none;
    font-size: 2.3rem;
    color: white; 
    margin: 10px 0; 
}
.başlık a:hover{
    color: white;
}
.başlık{
    display: flex;
    gap: 10px;
}
header img{
    width: 13rem;
    height:50%; 
}
nav{
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px; 
    margin-top: 10px;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
nav ul li a:hover{
    color: red;
    transition: 0.4s;
    text-decoration: none;
}
header nav ul li.active a{
	color: red;
}
.fa-solid{
    display: none;
}
.nav-toggle{
    display: none;
}
.carousel{
	width: 100%;
    position: absolute;
    top: 200px;
}
.carousel-inner{
	width: 100%;
}
.main{
    width: 100%;
    height: 200px;
    margin-top: 200px;
}
.main h3{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 30%;
}
.main .hr{
   background-color: red;
   opacity: 1;
    width: 100px;
    height: 2px;
    margin: 0 auto;
    font-weight: bold;
}
.section{
    width: 100%;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;
}
.section .first-section{
    width: 25%;
    height: 300px;
    text-align: center;
}
.section .first-section .main h3{
    margin: 0 auto;
}
.section img{
    width: 80%;
    height: auto;
    text-align: center;
    
}
.section  h1{
    font-size: 2rem;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}
.section  p{
    color: black;
    text-align: left;
    margin-top: 25px;
    font-size: 20px;
}
.second-section{
	width: 100%;
	height: 300px;
    margin-top: 550px;
    display: flex;
    align-items: center;
    background-color: black;

}
.second-section .child-section{
    background: url("../img/section2.jpg");	
	width:60%;
	height: 300px;
    background-size: cover; /* Resmin div boyutlarına otomatik olarak uyum sağlamasını sağlar */
    background-position: center; /* Resmi div'in ortasına hizalar */
    background-repeat: no-repeat; 
    clip-path: polygon(70% 0,0 0,0 100%,90% 100%);	
}
.second-section .right-section{
    width: 50%;
    height: 100%;
}
.second-section .right-section h1{
	color: #fff;
	font-size: 30px;
    font-family: 'Poppins' ,sans-serif;
    position: relative;
    top: 50px;
}
.second-section .right-section h1 span{
	font-size:40px;
	color: #fff;
    font-family:'Poppins' ,sans-serif;
    padding-top: 50px;
}

.third-section{
	width: 100%;
	height: 300px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    background-color: black;
}
.third-section .child-section2{
    width: 50%;
    height: 100%;
}
.third-section .child-section2 h1{
	color: #fff;
	font-size: 30px;
    text-align: left;
    padding: 100px;
    margin: 0 30px;
    
}
.third-section .child-section2 h1 span{
	font-size:40px;
	color: #fff;
    position: relative;
    top: 10px;
    
}
.third-section .right-section2{
    background: url("../img/section3.jpg");	
	width:60%;
	height: 300px;
    background-size: cover; /* Resmin div boyutlarına otomatik olarak uyum sağlamasını sağlar */
    background-position: center; /* Resmi div'in ortasına hizalar */
    background-repeat: no-repeat; 
    clip-path: polygon(7% 0,100% 0,100% 100%,30% 100%);
}
.info{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info .button{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info h1{
    font-size: 25px;
    color: black; 
}
.info span{
    font-size: 35px;
    color: black;
}
.info  button{
    border-radius: 10px;
    background-color: black;
    padding: 15px;
}
.info  button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.info  button a:hover{
    color: red;
    transition: 0.3s;
}
.baslık-paketler{
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: bold;
}
.hr2{
   background-color: red;
    width: 100px;
    height: 2px;
    margin: 0 auto;
}
.paketler{
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    margin: 50px auto;
    justify-content: space-around;
}
.paketler .boards{
    width: 30%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}
.paketler .boards .up-boards ul li{
    text-align: left;
    color: white;
    font-size: 15px;
}
.paketler .boards .up-boards{
    height: 80%;
    width: 100%;
    padding: 50px;
}
.paketler .boards .up-boards .logo h1{
        color: white;
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
        

}
.paketler .boards .under-boards{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.paketler .boards .under-boards h3{
    color: white;
    font-size: 25px;
    text-align: left;
    margin-bottom: 50px;
}
.paketler .boards .under-boards span{
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    bottom: 10px;
    text-decoration: line-through;
}
.paketler .boards .under-boards button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.paketler .boards .under-boards button a:hover{
    opacity: 0.7;
}
.paketler .boards .under-boards button{
    border-radius: 10px;
    padding: 10px;
    background-color: red;
    margin-bottom: 50px;
}
.footer{
    display: flex;
    background-color: black;
    width: 100%;
    height: 300px;
    margin-top: 200px;
}
.footer .logo-footer{
    width: 40%;
    height: 100%;
}
.footer .logo-footer .baslık-footer{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .logo-footer  .for-mobile {
    display:none;
}
.footer .logo-footer .baslık-footer h1{
    color: white;
    font-size: 30px;
}
.footer .logo-footer .baslık-footer img{
    width: 10rem;
    height:60%;
}
.footer .logo-footer .social-media{
    width: 100%;
    height: 30%;
}
.footer .logo-footer .social-media{
    display: flex;
    align-items: center;
    justify-content:center;
}
.footer .logo-footer .social-media .fab{
    font-size: 30px;
    margin-left: 50px;
    color: white;
}
.footer .logo-footer .social-media .fab:hover{
    opacity: 0.7;
}
.footer .hours-footer{
    width: 20%;
    height: 100%;
    padding: 40px;
}
.footer .hours-footer h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.footer .hours-footer h2{
    font-size: 20px;
    color: white;
}
.footer .contact-footer{
    width: 40%;
    height: 100%;
    padding: 40px;
}
.footer .contact-footer h1{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    padding: 5px;
}
.footer .contact-footer h2{
    color: white;
    font-size: 20px;  
    margin-left: 20px;
    padding: 5px;
}
.footer .contact-footer h3{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    padding: 5px;
}
.footer .contact-footer h4{
    color: white;
    font-size: 25px;
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    
}

@media screen and (max-width: 1200px){
    nav ul{
        gap: 30px; 
    }
    nav ul li a {
        color: white;
        font-size: 1.1rem;
    }
    .başlık .logo a{
        font-size: 1.7rem;
    }
    .paketler .boards .up-boards ul li{
        font-size: 13px;
    }
    .paketler .boards .up-boards .logo h1{
            font-size: 25px;
    }
    .paketler .boards .under-boards button a{
        font-size: 15px;
    }
    .second-section{
        margin-top: 500px;
    }
    .section .first-section p{
        font-size: 15px;
    }
    .second-section .right-section h1{
        font-size: 20px;
        margin-top: 20px;
    }
    .second-section .right-section h1 span{
        font-size: 30px;
    }

    .third-section .child-section2 h1{
       font-size: 20px;
    }
    .third-section .child-section2 h1 span{
        font-size: 30px;
    }
    .info{
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    .info h1{
        text-align: center;
    }
    .info .button{
       margin: 0 auto;
       margin-top: 30px;
    }
    .paketler{
        height: 500px;
     }
     .paketler .boards .up-boards{
        padding: 30px;
      }
      .section{
        margin-top: -100px;
      }
      .paketler .boards{
        width: 30%;
    }
    
    }
@media screen and (max-width: 992px){
    header{
        height: 150px;
    }
    nav ul{
        gap: 15px; 
        margin-top: 10px;
    }
    nav ul li a {
        color: white;
        font-size: 0.9rem;
       
    }
    .başlık .logo a{
        font-size: 1.5rem;
        color: white; 
        
    }
    header img{
        width: 8rem;
        height:50%;  
    }
    .carousel{
        width: 100%;
        position: absolute;
        top: 150px;
    }
    .section{
       margin-top: 0px;
    }
    .section .first-section p{
        font-size:15px ;
        margin-top: 0px;
     }
    .second-section{
        margin-top: 500px;
    }
    .second-section .right-section h1{
        font-size: 20px;
    }
    .second-section .right-section h1 span{
        font-size: 30px;
    }
    .third-section .child-section2 h1{
         font-size: 20px;
     }
    .third-section .child-section2 h1 span{
         font-size: 30px;
     }
     .main {
        position:   relative;
        top: 40px;
     }
     .paketler .boards .up-boards ul li{
        font-size: 12px;
    }
    .paketler .boards .up-boards{
      padding: 10px;
    }
    .paketler .boards .up-boards .logo h1{
            font-size: 23px;
    }
    .paketler .boards .under-boards button a{
        font-size: 12px;
    }
    .paketler{
       height: 450px;
    }
    .paketler .boards .under-boards h3{
       font-size: 20px;
    }
    .paketler .boards .under-boards span{
       font-size: 15px;
    }
    .paketler .boards .under-boards button{
        padding: 7px;
    }
    .paketler .boards .under-boards button a{
        font-size: 12px;
    }
    .footer{
        height: 250px;
    }
    .footer .logo-footer .baslık-footer img{
        width: 10rem;
        height: auto;
    }
    .footer .logo-footer .baslık-footer h1{
        font-size: 25px;
    }
    .footer .logo-footer .social-media .fab{
        font-size: 20px;
    }
    .footer .logo-footer .baslık-footer{
        height: 60%;
    }
    .footer .logo-footer .social-media{
        height: 40%;
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .footer .hours-footer{
        padding: 40px;
    }
    .footer .hours-footer h1{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .footer .hours-footer h2{
        font-size: 15px;
        color: white;
    }
    .footer .contact-footer{
    width: 40%;
    height: 100%;
    padding: 40px;
}
.footer .contact-footer h1{
    font-size: 15px;
    padding: 5px;
}
.footer .contact-footer h2{
    font-size: 15px;
}
.footer .contact-footer h3{
    font-size: 15px;
}
.footer .contact-footer h4{
    font-size: 20px;
}




}
@media screen and (max-width: 768px){
    header{
        background-color: black;
        position: fixed;
        z-index: 999;
        width: 100%;
        display: block;
        height: 150px;
    }
    .başlık{
        padding: 30px;
    }
    
    header img{
        width: 9rem;
        height: 50%;
       
        
    }
    .başlık .logo a{
        font-size: 1.5rem;
        color: white; 
        
    }
    nav ul{
        display: block;
        margin: 0;
        padding: 0;
        
    }
    nav ul li{
        margin-bottom: 1em;
        margin-right: 1em;
    }
    nav{
        position: absolute;
        text-align: right;
        top:  100%;
        width: 100%;
        background-color: black;
        display: none;
    }
    nav ul li a {
        color:white;
        text-transform: uppercase;
        font-size: 1rem;
    }
    .nav-toggle{
        display: none;     
    }  
    .nav-toggle:checked ~ nav{
        display: block;
    }
    .fa-solid{
        display: block;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .fa-solid{
        color: white;
        position: absolute;
        font-size: 1.2rem;
        cursor: pointer;
        right: 0;
        top: 0;
        margin-right: 2em;
        height: 100%;
    }
    .section{
        width: 100%;
        margin-top: 100;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .section .first-section{
        width: 100%;
        height: 650px;
        text-align: center;
    }
    .section img{
        width: 80%;
        height: auto;
        text-align: center;
    }
    .section  h1{
        font-size: 1.7rem;
        font-weight: normal;
    }
    .info{
        width: 100%;
        height: 500px;
        background: url("../img/section3.jpg");	
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -50px;
    }
    .info h1{
       margin-top: 120px;
       color: white;
       font-size: 20px;
    }
    .info h1 span{
        color: white;
        font-size: 30px;
    }
    .third-section{
        display: none;
    }
    .second-section{
        display: none;
    }
    .second-section .right-section{
        margin-top: 50px;
    }
    .second-section .right-section h1{
        position: relative;
        top: 50px;
        font-size: 15px;
    }
    .second-section .right-section h1 span{
        font-size: 25px;
    }
    .third-section .child-section2 h1{
        font-size: 15px;
    }
   .third-section .child-section2 h1 span{
        font-size: 25px;
    }
    .main h3{
        font-size: 30px;
        position: relative;
        top: 50px;
        font-weight: bold;
    }
    .main hr{
        width: 70px;
        position: relative;
        top: 50px;
    }
    .baslık-paketler{
        margin-top: 100px;
    }
    .paketler{
        display: block;
    }
    .paketler .boards{
        width: 70%;
        margin: 0 auto;
        margin-top: 100px;
        height: 500px;
    }
    .paketler .boards
    .up-boards ul li{
        font-size: 15px;
    }
    .footer{
        margin-top: 1500px;
        height: 250px;
    }
    .footer .logo-footer .social-media .fab{
        font-size: 20px;
        margin-bottom: 50px;
    }
    .footer .hours-footer{
        display: none;
    }
    .footer .logo-footer{
        width: 40%;
    }
    .footer .logo-footer .baslık-footer{
        height: 50%;
    }
    .footer .logo-footer .social-media{
        height: 50%;
    }
    .footer .logo-footer .baslık-footer img{
        width: 7rem;
        margin-left: 20px;
    }
    .footer .logo-footer .baslık-footer h1{
        font-size: 20px;
    }
    .footer .contact-footer{
        width: 60%;
        text-align: center;
    }
    .footer .contact-footer h1{
        font-size: 13px;
        margin-top: 5px;
        margin-left: 50px;
        text-align: left;
    }
    .footer .contact-footer h2{
        font-size: 13px;
        margin-top: 5px;
        margin-left: 50px;
        text-align: left;
    }
    .footer .contact-footer h3{
        font-size: 13px;
        margin-top: 5px;
        margin-left: 50px;
        text-align: left;
    }
    .footer .contact-footer h4{
        font-size: 17px;
    }
   
   
}
@media screen and (max-width: 487px){
    nav ul li a {
        color: white;
        font-size: 0.7rem;
    }
    header .başlık .logo a{
        font-size: 1rem;
        color: white; 
        
    }
    header img{
        width: 5rem;
        height:50%;
        margin: 10px 0;
    }
    header{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fa-solid{
        color: white;
        position: absolute;
        font-size: 1rem;
        cursor: pointer;
        right: 0;
        top: 0;
        margin-right: 1em;
        height: 100%;
    }
    .carousel{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        top: 100px;
    }
    #carouselExampleIndicators .carousel-indicators{
        display: none;
    }
    .section h1{
        font-size: 20px;
    }
    .section{
        width: 100%;
        font-size: 13px;
        display: block;
        align-items: center;
        justify-content: left;
        margin-top: -230px;
    }

    .section .first-section p span{
        display: none;
    }
    .section .first-section{
        width: 100%;
        margin: 0 auto; 
        margin-top: 350px; 
    }
    .section .first-section img{
        width: 100%;
    }
    .second-section .child-section{
        width: 50%;
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    .second-section{
        display: none;
    }
    .third-section{
        display: none;
    }
    .main h3{
        font-size: 25px;
        margin-top: -50px;
    }
    .main .hr{
        width: 70px;
    }
    .info{
        margin-top: 200px;
    }
    .info h1{
        font-size: 15px;
    }
    .info h1 span{
        font-size: 20px;
    }
    .info .button button a{
        font-size: 15px; 
    }
    .info .button button{
        padding: 20px;
    }
    .baslık-paketler{
        margin-top: 100px;
    }
    .paketler{
        display: block;
        margin-top: 100px;
    }
    .paketler .boards{
        width: 100%;
        margin: 0 auto;
        margin-top: 150px;
        height: 500px;
    }
    .paketler .boards
    .up-boards ul li{
        font-size: 13px;
    }
    .footer{
        height: 300px;
    }
    .footer .logo-footer .social-media .fab{
        font-size: 20px;
        margin-left: 20px;
    }
    .footer .hours-footer{
        display: none;
    }
    .footer .logo-footer{
        width: 100%;
        height: 100%;
    }
    .footer .logo-footer .baslık-footer{
        width: 100%;
        height: 40%;
    }
    .footer .logo-footer .baslık-footer h1{
       font-size: 15px;
    } 
    .footer .logo-footer .for-mobile{
        width: 100%;
        height: 20%;
        display: block;
    }
    .footer .logo-footer .social-media{
        width: 100%;
        height: 20%;
    }
    .footer .logo-footer .for-mobile h1{
        display: block;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        
    }
    .footer .contact-footer{
        width: 60%;
        display: none;
    }
    
}

@media screen and (max-width: 250px){
    .section .first-section{ 
        margin-top: 450px; 
    }
    .section{
        position: relative;
        bottom: 200px;
    }
}
  
  
    

